.post {
    position:relative;
    overflow:hidden;
    border-radius: 3px;
    background-size: cover;
    background-size: center center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    min-height: 225px;
    color: white;
}