.post {
    position:relative;
    overflow:hidden;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    min-height: 225px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;

    .post-content {
        position:absolute;
        width:100%;
        backdrop-filter: blur(6px);
        text-align:left;
        left: 0;
        bottom: 0;

        .post-heading {
            color: white;
            padding: 0px 20px 0px 20px;
        }

        .post-desc {
            font-size: 12px;
            color: white;
            padding: 0px 20px 0px 20px;
        }
    }


}
.post-image:hover {
    .post-heading, .post-desc {
        color: #9760b3;
    }
}

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}