.playerPageContainer {
    display:flex;
    flex-wrap:wrap;
    height:calc(100vh - 40px);
    overflow-y: scroll;
    padding: 5px 20px 20px 20px;
    flex:1;
}

.playerDashboard {
    display:flex;
    flex-wrap:wrap;
    height:calc(100vh - 40px);
    flex:1;
    align-items:center;
    justify-content:center;
}

.playerInfo-container {
    display:flex;
    height: fit-content;
    padding:10px;
    background-color:#f7f7f7;
    border-radius: 10px;
    // > div {
    //     margin: 10px;
    // }
    .playerInfo {
        width: 300px;
    }
    p {
        text-align:left;
        margin:0;
        padding-bottom: 4px;
    }
}

.statBox-outline {
    display:block;
    height:80px;
    width: 80px;
    margin:0;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    .statBox-value {
        height:80%;
        padding:0;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .statBox-title {
        position:relative;
        height:20%;
        width:inherit;
        padding:0;
        text-align: center;
        font-size:12px;
        background-color:#32c5ff;
    }
}