.playerPageContainer {
    display:flex;
    flex-wrap:wrap;
    height:calc(100vh - 40px);
    overflow-y: scroll;
    //padding: 5px 20px 20px 20px;
    flex:1;
}

.playerDashboard {
    display:flex;
    flex-wrap:wrap;
    height:calc(100vh - 40px);
    flex:1;
    align-items:center;
    justify-content:center;
}

.playerInfo-container {
    display:flex;
    width:100%;
    color:#FFF;
    height: fit-content;
    padding:10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color:#000000;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    padding-top: 5%;
    padding-bottom: 5%;


    .playerInfo {
        display:flex;
        //width: fit-content;
        flex-direction: column;
        align-items: center;
        
        .playerInfo-name {
            font-size:40px;
            white-space: nowrap;
            font-family:Arial, Helvetica, sans-serif;
            padding: 25px 0px 25px 0px;
            font-weight: bolder;
        }
        .playerInfo-otherInfo {
            font-size:16px;
            text-align:left;
            padding: 3px 0px 3px 0px;
            display: flex;
            align-items: center;
        }
    }

    //border-radius: 10px;
    // > div {
    //     margin: 10px;
    // }
    // .playerInfo {
    //     width: 300px;
    // }
    // p {
    //     text-align:left;
    //     margin:0;
    //     padding-bottom: 4px;
    // }

    .team-image {
        height: 500px;
        width: 100%;
        border: 1px solid red;
        background-image: url("https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/lal.png")
    }

    .player-team {
        filter:grayscale(100%)
    }
}
.statBox {
    display:block;
    position:relative;
    float: right;
    margin: 20px;
    flex-wrap:wrap;
    height: fit-content;
    color: white;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color:transparent;
    width: 100%;

    .statBox-container {
        display:flex;
        height: 80%;
        align-items: center;
        justify-content:space-between;
    }
}

.statBox-title {
    position:relative;
    height:20%;
    width:inherit;
    font-size:20px;
    margin:0;
    text-align: center;
    justify-content:center;
    align-items:center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:transparent;
    border-bottom: 1px solid white;

    > p {
        margin: 0;
    }
}

.statBox-outline {
    display:block;
    height:70px;
    margin:15px;
    // border-style: solid;
    // border-color: black;
    // border-width: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;

    .statBox-value {
        padding:0;
        font-size: 25px;
        font-weight: 500;
    }
}



