.sidebar-container {
    width:50px;
    height:100vh;
    display:flex;
    flex-direction:column;
    box-shadow: 10px;
    overflow:hidden;    // background-color:#bf5af2;
    background-color:#111111;
    box-shadow: 2px 1px 7px #888888;
    justify-content: center;
    transition: 0.5s ease-in-out all;
    white-space: nowrap;

    ul {
        list-style-type: none;
        margin:0;
        padding: 0;
    }
    
    li {
        display:flex;
        padding: 15px 10px 15px 10px;
    }
    a {
        display:flex;
        align-items:center;
        text-decoration: none;
    }
    p {
        font-size:13px;
        display:none;
        padding-left: 5px;
        margin: 0px;
        color: white;
    }
}

.theme-button {
    position:absolute;
    bottom: 0;
    align-items:center;
}

.sidebar-container:hover {
    width:200px;
    position: relative;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    transition: 0.5s ease-in-out all;

    li:hover {
        background-color:#be76e2;
    }
    
    p {
        display:flex;
    }
}